<div class="container">
  <form #form="ngForm">
    <fieldset>
      <legend>Filters</legend>
      <label for="title">Title</label>
      <input type="text" name="title" ngModel/>
      <label for="releaseDate">Release year</label>
      <input type="number" name="releaseDate" ngModel/>
    </fieldset>
  </form>
  @for(movie of movies$ | async; track movie.id) {
    <app-movie-item [movie]="movie" appHighlight [isFavorite]="favoritesService.isFavorite(movie)()" (toggleFavorite)="favoritesService.toggleFavorite(movie)"/>
  }
</div>
